
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar .links {
    display: flex;
    gap: 15px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar .links a:hover {
    background-color: #003366;
}

.buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #005bb5;
}

.footer {
    background-color: #1ea723;
    color: #ffffff;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    border-radius: 0 0 10px 10px; /* Rounded corners for the bottom of the container */
}
